<div class="container"> 
    <footer class="py-3 my-4 border-top"> 
        <div class="col-md-4 d-flex"> 
            <span class="mb-2 mb-md-0 text-body-secondary">© Ryan Yonek 2025</span><br />
        </div> 
        <div class="col-md-4 d-flex">
            <span class="my-2 mb-md-0 text-body-secondary">Powered by: <a href="https://openlibrary.org/developers/api" target="_blank">Open Library</a></span> 
        </div>
    </footer> 
    
</div>